<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS do Bootstrap -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessário para o Bootstrap 4 e versões anteriores) -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- JavaScript do Bootstrap -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
     <link rel="stylesheet" href="/styles/dashboard.css">

    <!-- FONT-AWESOME -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <main>

        <!-- NAVBAR -->
        <%- include('menu.ejs') %>
        <!-- navbar -->

        <div id="header" class="container">
            <span id="userName">
                <p>Ola, <%= user.name %></p>
            </span>

            <div class="content-progress">
                <p id="text-progress"> Tarefas concluídas 0% </p>
                <div class="progress">
                    <span id="progress" class="progress-bar" role="progressbar"></span>
                </div>
            </div>
        </div> <br>

        <div class="container" id="allTasks">
            <ul class="row tasks">
                <% tasks.forEach(el => { %>
                    <li class="col-md-6" id="every-task">
                        <div class="content">
                            <div class="content-1">
                                <span class="etiqueta">Lazer</span>
                                <p class="task fw-bold"> <%- el.content%> </p>
                                <p class="date"> <%- el.date %> </p>
                            </div>

                            <div class="content-2">
                                <p>
                                    <button class="btn fw-bold btnCompleted">
                                        <i class="fa-regular fa-circle"></i>
                                        Concluir
                                    </button>
                                </p>

                                <ul>
                                    <li> <a href="/delete/<%- el.id %>" id="btnDelete">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a></li>

                                    <li> <a href="/edit/<%- el.id %>" id="btnEdit">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a> </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>

        <button id="btnNewTask" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
        </button>
    
        <!-- MODEL -->
        <div class="content-task">
            <div class="container">
                <ul class="d-flex justify-content-between align-items-center p-0">
                    <li class="list-unstyled">
                        <p class="mt-3">Criar nova tarefa</p>
                    </li>
                    <li class="list-unstyled">
                        <button id="btnBack">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </li>
                </ul>

                <form method="POST" action="/createTask">
                    <div class="form-group mt-4">
                        <label for="content">Tarefa:</label>
                        <input name="content" id="content" type="text" class="form-control" required>
                    </div>

                    <div class="form-group mt-4">
                        <label for="date">Data:</label>
                        <input name="date" id="date" type="date" class="form-control" required>
                    </div>

                    <button class="btn btn-primary mt-4 w-100">Criar</button>
                </form>
            </div>
        </div>
        <!-- Model End -->
    </main>


    <script>
        let btnNewTask = document.querySelector('#btnNewTask');
        let btnBack = document.querySelector('#btnBack');
        let btnCompleted = document.querySelectorAll('.btnCompleted');

        btnNewTask.addEventListener('click', (e) => {
            let contentTask = document.querySelector('.content-task');
            contentTask.style.display = 'block';
        });

        btnBack.addEventListener('click', () => {
            let contentTask = document.querySelector('.content-task');
            contentTask.style.display = 'none';
        });

        btnCompleted.forEach(btn => {
            btn.addEventListener('click', () => {
                let icon = btn.querySelector('i');
                let task = btn.closest('.content').querySelector('.task');

                if(icon.classList.contains('fa-square-check')) {
                    icon.classList.remove('fa-square-check');
                    icon.classList.add('fa-square');
                    task.classList.remove('completed');

                } else {
                    icon.classList.remove('fa-square');
                    icon.classList.add('fa-square-check');
                    task.classList.add('completed');
                }
                updateProgress();
            });
        });

        function updateProgress() {
            const allTasks = document.querySelectorAll('.tasks');
            const completedTasks = document.querySelectorAll('.task.completed');

            const total = allTasks.length;
            const completed = completedTasks.length;

            const percentage = total === 0 ? 0 : Math.round((completed / total) * 100);

            document.getElementById('text-progress').innerText = `Tarefas concluídas ${percentage}%`;
            document.getElementById('progress').style.width = `${percentage}%`;
        }

        updateProgress();
    </script>

</body>
</html>

